﻿@model SiT.WebDevelopmentDemo.Data.Models.Event

<tr>
    <td>@this.Model.Name</td>
    <td>
        <a asp-controller="Events" asp-action="GetEventsForHost" asp-route-hostName="@this.Model.Host">@this.Model.Host</a>
    </td>
    <td>
        <div class="btn-group">
            <a class="btn btn-danger" asp-controller="Events" asp-action="Delete" asp-route-id="@this.Model.Id">Delete</a>
            <a class="btn btn-warning" asp-controller="Events" asp-action="Update" asp-route-eventId="@this.Model.Id">Update</a>
            <a class="btn btn-info" asp-controller="Performances" asp-action="GetForEvent" asp-route-eventId="@this.Model.Id">Get all performances</a>
        </div>
    </td>
</tr>