﻿@model SiT.WebDevelopmentDemo.ViewModels.BaseEventInputModel

<div>
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
</div>

<div>
    <label asp-for="Host"></label>
    <input asp-for="Host" />
    <span asp-validation-for="Host"></span>
</div>