﻿@model SiT.WebDevelopmentDemo.ViewModels.CreateEventInputModel

<div>
    <form method="post" asp-controller="Events" asp-action="Create">
        @await Html.PartialAsync("CommonInputView", this.Model)
        <vc:submit-button text="Create event" />
    </form>
</div>