﻿@model IEnumerable<SiT.WebDevelopmentDemo.Data.Models.Event>

<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Host
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var modelEvent in this.Model)
        {
            @*@await Component.InvokeAsync("Event", new { eventToRender = modelEvent })*@
            <vc:event event-to-render="modelEvent" />
        }
    </tbody>
</table>
