﻿@model IEnumerable<SiT.WebDevelopmentDemo.Data.Models.Event>

<a class="btn btn-secondary" asp-controller="Events" asp-action="GetAllEvents">List all events</a>
<a class="btn btn-primary" asp-controller="Events" asp-action="Create">Create</a>
@await Html.PartialAsync("EventRenderer", this.Model)