﻿@model SiT.WebDevelopmentDemo.ViewModels.UpdateEventInputModel

<div>
    <form method="post" asp-controller="Events" asp-action="Update">
        <input asp-for="Id" hidden />
        @await Html.PartialAsync("CommonInputView", this.Model)
        <vc:submit-button text="Update event" />
    </form>
</div>