﻿@model SiT.WebDevelopmentDemo.ViewModels.CreateNoteInputModel

<div>
    <form method="post" asp-controller="Notes" asp-action="Create">
        <div>
            <label asp-for="Theme"></label>
            <input asp-for="Theme" />
        </div>

        <div>
            <label asp-for="Text"></label>
            <textarea asp-for="Text"></textarea>
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Create note</button>
        </div>
    </form>
</div>