﻿@model IEnumerable<SiT.WebDevelopmentDemo.Data.Models.Note>

<a class="btn btn-primary" asp-controller="Notes" asp-action="Create">Create</a>
<table>
    <thead>
        <tr>
            <th>
                Theme
            </th>
            <th>
                Text
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var modelNote in this.Model)
        {
            <tr>
                <td>
                    @modelNote.Theme
                </td>

                <td>
                    @modelNote.Text
                </td>
            </tr>
        }
    </tbody>
</table>
