h3 {
    color: blue;
}

.book-title {
    color: red;
}

h2.book-title {
    color: blueviolet !important;
}

#night-in-lisabon-description {
    color: green;
}

p, span {
    font-size: 24px;
}

header h1.video {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header > h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div {
    border: 3px solid black;
    border-radius: 15px;

    padding: 20px;
    margin: 20px;
}