﻿@model SiT.WebDevelopmentDemo.ViewModels.Performances.PerformanceInputModel

<form asp-controller="Performances" asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>

    <div>
        <label asp-for="Performer"></label>
        <input asp-for="Performer" />
    </div>

    <div>
        <label asp-for="Duration"></label>
        <input type="number" step="any" min="0" asp-for="Duration" />
    </div>

    <input asp-for="EventId" hidden />

    <vc:submit-button text="Create" />
</form>