﻿@model SiT.WebDevelopmentDemo.ViewModels.Performances.PerformancesPresentation

<div class="btn-group">
    <a class="btn btn-secondary" asp-controller="Events" asp-action="GetAllEvents">Go to events</a>
    <a class="btn btn-primary" asp-controller="Performances" asp-action="Create" asp-route-eventId="@Model.EventId">Create</a>
</div>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Performer
            </th>
            <th>
                Duration
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var performance in this.Model.Perfromances)
        {
            <tr>
                <td>
                    @performance.Name
                </td>
                <td>
                    @performance.Perfromer
                </td>
                <td>
                    @performance.Duration
                </td>
            </tr>
        }
    </tbody>
</table>